body{
    padding: 0;
    margin: 0;
}
#dataChartDiv{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 30vw;
}
#dataTable{
    font-size: 12px;
}
#dataTableDiv{
    min-width: 250px;
    width: 30vw;
    height: 100vh;
    overflow: scroll;
}
#dataTableCId{
    padding-right: 10px;
}
#dataTableCName{
    text-align: left;
}